@import 'resets';

.donate-hero-section {
	background: $dom-color;
	height: 500px;
	display: flex;
	align-items: center;

	.container {
		@include width-mixin();

		.heading-title {
			@include heading-font();
			color: $color-light;
			margin-bottom: 0.5em;
			text-align: center;
		}

		.subtext {
			max-width: 420px;
			text-align: center;
			line-height: 1.7;
			margin: 0 auto;
			color: $color-light;
			margin-bottom: 2em;
		}

		.btn-wrap {
			text-align: center;

			.donate-button {
				@include btn-mixin();
				border: none;
			}
		}
	}
}
