@import 'resets';

.learn-more-modal {
	background: rgba(0, 0, 0, 0.459);
	position: fixed;
	top: 0;
	height: 100vh;
	z-index: 10;
	backdrop-filter: blur(10px);
	display: none;
	width: 100%;

	justify-content: center;
	padding-top: 1em;

	.container {
		margin-top: -2em;
		@include width-mixin();
		background: $color-light;
		@include box-shadow();
		border-radius: 20px;
		padding: 2em;
		max-height: 600px;
		display: grid;
		gap: 1.5em;
		overflow-y: auto;
	}

	.modal-close-btn {
		position: absolute;
		top: 80%;
		left: 50%;
		transform: translateX(-50%);
		@include btn-mixin();
		color: red;
		background: $color-light;
		@include box-shadow();
	}

	@media screen and (min-width: 62em) {
		align-items: center;
		padding-top: unset;

		.container {
			width: 60%;
		}

		.modal-close-btn {
			top: 50%;
			// right: 0;
			left: 78%;
			transform: translateY(-50%);
		}
	}
}
