@import 'resets';

.our-programs {
	background: #f8e2db;
	min-height: 600px;
	width: 100%;
	margin-bottom: 10em;

	.container {
		@include width-mixin();
		padding-top: 5em;

		.heading-title {
			text-align: center;
			@include heading-font();
		}

		.programs {
			display: grid;
			gap: 1em;

			.project-card {
				height: 200px;
				width: 200px;
				background: orange;
			}
		}
	}
}
