@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*,
*::after,
*::before {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

// font mixins
@mixin poppins-regular() {
	font-family: 'Poppins', sans-serif;
	font-weight: 400;
	font-style: normal;
}

@mixin poppins-medium() {
	font-family: 'Poppins', sans-serif;
	font-weight: 500;
	font-style: normal;
}

@mixin poppins-semibold() {
	font-family: 'Poppins', sans-serif;
	font-weight: 600;
	font-style: normal;
}

@mixin poppins-bold() {
	font-family: 'Poppins', sans-serif;
	font-weight: 700;
	font-style: normal;
}

// gl;obal variables
$color-light: #fff;
$dom-color: #097036;
$accent-color: #d7522c;
$text-color: #909090;
$heading-fz: clamp(3vw, 3rem, 9vw);
$heading-text-color: #595959;

html {
	scroll-behavior: smooth;
}

body {
	@include poppins-regular();
	position: relative;
}

li {
	list-style: none;
	font-size: 14.5px;
}

a {
	text-decoration: none;
}

p {
	font-size: 14.5px;
	color: $text-color;
	line-height: 27px !important;
}

@mixin box-shadow() {
	box-shadow: 0px 5px 30px 0px rgba(0, 0, 0, 0.123);
	// -webkit-box-shadow: 10px 0px 20px 0px rgba(0, 0, 0, 0.11);
	// -moz-box-shadow: 10px 0px 20px 0px rgba(0, 0, 0, 0.11);
}

@mixin btn-mixin() {
	background: $accent-color;
	padding: 18px;
	color: $color-light;
	display: inline-block;
	@include poppins-medium();
	text-decoration: none;
	text-transform: capitalize;
	cursor: pointer;
	border: none;
	border-radius: 15px;
}

@mixin heading-font() {
	color: $dom-color;
	@include poppins-medium();
	margin-bottom: 1em;
	font-size: $heading-fz;
}

@mixin cardMixin() {
	height: 300px;
	width: 100%;
	// box-shadow: ;
}

@mixin width-mixin() {
	width: 90%;
	margin: 0 auto;
}

@mixin localHeadingMixin() {
	font-size: 1.7rem;
	@include poppins-bold();
	text-transform: capitalize;
	color: $heading-text-color;
}
